<div class='container-fluid' ng-app="homeApp">
	<script type="text/ng-template" id='accounts.html'>
	<%= render partial: 'accounts' %>
	</script>
	<script type="text/ng-template" id='accounts-panel.html'>
	<%= render partial: 'accounts_panel' %>
	</script>
	<script type="text/ng-template" id='report.html'>
	<%= render partial: 'report' %>
	</script>
	<script type="text/ng-template" id='new_account.html'>
	<%= render partial: 'new_account' %>
	</script>
	<script type="text/ng-template" id='tags.html'>
	<%= render partial: 'tags' %>
	</script>
	<script type="text/javascript">
		homeApp.config(['ledgersProvider', 'accountsProvider', 'tagsProvider', function(ledgersProvider, accountsProvider, tagsProvider) {
			ledgersProvider.assignLedgers(<%= raw @ledgers.to_json %>);
			accountsProvider.assignAccounts(<%= raw @accounts.to_json %>);
			accountsProvider.assignCategories(<%= raw @categories.to_json %>);
			tagsProvider.assignTags(<%= raw @tags.to_json %>);
		}]);
	</script>
	<div ng-view class='row'>
	</div>
</div>