<div class='container-fluid' ng-app="homeApp">
	<script type="text/ng-template" id='accounts.html'>
	<%= render partial: 'accounts' %>
	</script>
	<script type="text/ng-template" id='report.html'>
	<%= render partial: 'report' %>
	</script>
	<script type="text/ng-template" id='new_account.html'>
	<%= render partial: 'new_account' %>
	</script>
	<script type="text/javascript">
		homeApp.constant('accounts', <%= raw @accounts.to_json %>);
		homeApp.constant('tags', <%= raw @tags.to_json %>);
	</script>
	<div ng-view class='row'>
	</div>
</div>