<div class='container-fluid' ng-app="homeApp">
	<script type="text/ng-template" id='application-error.html'>
	<%= render template: 'application-error' %>
	</script>
	<script type="text/ng-template" id='accounts.html'>
	<%= render partial: 'accounts' %>
	</script>
	<script type="text/ng-template" id='accounts-panel.html'>
	<%= render partial: 'accounts_panel' %>
	</script>
	<script type="text/ng-template" id='transactions-list.html'>
	<%= render partial: 'transactions/transactions_list' %>
	</script>
	<script type="text/ng-template" id='report-transactions.html'>
	<%= render partial: 'transactions/report' %>
	</script>
	<script type="text/ng-template" id='new_account.html'>
	<%= render partial: 'new_account' %>
	</script>
	<script type="text/ng-template" id='tags.html'>
	<%= render partial: 'tags' %>
	</script>
	<script type="text/ng-template" id='categories.html'>
	<%= render partial: 'categories' %>
	</script>
	<script type="text/javascript">
		homeApp.config(['ledgersProvider', 'accountsProvider', 'tagsProvider', function(ledgersProvider, accountsProvider, tagsProvider) {
			ledgersProvider.assignLedgers(<%= raw @ledgers.to_json %>);
			accountsProvider.assignAccounts(<%= raw @accounts.to_json(methods: :currency) %>);
			accountsProvider.assignCategories(<%= raw @categories.to_json %>);
			tagsProvider.assignTags(<%= raw @tags.to_json %>);
		}]);
	</script>
	<ldr-errors-notifier></ldr-errors-notifier>
	<div ng-view class='row'>
	</div>
</div>